<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
</head>
<link rel="stylesheet" href="/static/style.css">
<body>
    {% block content %}
    <h1>Welcome to the Flask App</h1>
    <img src="{{ url_for('static', filename='assets/hello_world.png') }}" alt="Hello World Image">
    {% endblock %}
    <script src="D:/Coding Only/Python Learning/py_learn/flask_apps/static/script.js"></script>
</body>

</html>