{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

{% block content %}
    <h1>Hello World</h1>
    <form method="POST" action="{{ url_for('index') }}">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="text" name="email" placeholder="Email"><br>
        <input type="submit" value="Submit">
    </form>

    <h1>File upload</h1>
    <form method="POST" action="{{ url_for('file_upload') }}" enctype="multipart/form-data">
        <input type="file" name="file" accept=".txt,.pdf,.docx"><br>
        <input type="submit" value="Upload">
    </form>

{% endblock %}