{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

{% block content %}
    <h1>Hello World index</h1>

    <img src="{{ url_for('static', filename='images/hello_world.png') }}" alt="Hello World Image">

    <div class="box">
        <button>This is a box.</button>
    </div>
    
    <a href="{{ url_for('set_data') }}">Set Session Data</a><br>

    <a href="{{ url_for('get_data') }}">Get Session Data</a><br>

    <a href="{{ url_for('clear_data') }}">Clear Session Data</a><br>

    <a href="{{ url_for ('set_cookie') }}">Set cookie </a><br>

    <a href="{{ url_for ('get_cookie') }}"> Get cookie</a><br>

    <a href="{{ url_for ('login') }}"> Login</a><br>

    {% if message %}
        <p><strong>Message:</strong> {{ message }}</p>
    {% endif %}

    {% if name or other %}
        <p><strong>Session name:</strong> {{ name }}</p>
        <p><strong>Session other:</strong> {{ other }}</p>
    {% endif %}

    
    


{% endblock %}