{% extends "base.html" %}

{% block title %}Index Page{% endblock %}

{% block content %}
    <h1>Hello World</h1>
    <form method="POST" action="{{ url_for('index') }}">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="text" name="email" placeholder="Email"><br>
        <input type="submit" value="Submit">
    </form>

    <h1>File upload</h1>
    <form method="POST" action="{{ url_for('file_upload') }}" enctype="multipart/form-data">
        <input type="file" name="file" accept=".txt,.pdf,.docx"><br>
        <input type="submit" value="Upload">
    </form>

    <h1>Javascript JSON Response</h1>

    <button id = 'post_button'>Send POST Request</button>

    <script type="text/Javascript">

        const postButton = document.getElementById('post_button');

        const jsonData = {name: 'Mike', 'greeting: Hello '}

        postButton.addEventlistener('click', () => {
            fetch('{{ url_for('handle_post') }}', {
                method : 'POST',
                header : {
                    'Content-Type' : 'application/json; charset=UTF-8'
                },
                body : JSON.stringify(jsonData)
            })
            .then(response => response.json())
            .then(data => console.log('Success:', data))
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
    
{% endblock %}